<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <title>MEC Test App</title>
    </head>
    <body>
        <h1>Welcome to Algomaniac</h1>
        <form action="/questions">
            <button type="submit" class="view-ques" >Click to view Questions</button>
        </form>
            <div class="logreg">
                <div>
                    <form action="/login">
                        <button type="submit" class="lrb">Login</button>
                    </form>
                </div>
                <div>
                    <form action="/register">
                        <button type="submit" class="lrb">Register</button>
                    </form>
                </div>
            </div>
    </body>
</html>